<div class="back" style="width: 100%; height: 100%;"></div>
<div class="">

    <header id="home-section" class="  text-center ">

        <div class="container">
            <div class="d-flex row-hl">
                <div class="mr-auto p-2 item-hl">
                    <a class="navbar-brand" [routerLink]="['/home']"
                        style=" color:#fff; margin-top: 20px; font-size: x-large;">HOME</a>
                </div>
                <div style=" margin-top: 20px; " *ngIf="currentUser else loggedOut">

                    <li ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>
                            <img [src]="currentUser.profile_image" width="50" height="50"
                                class=" profileImg rounded-circle">
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">

                    <li class="dropdown-item" [routerLink]="['/profile']"><span
                            class="material-icons md-48">account_circle</span>my
                        profile
                    </li>
                    <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                            class="material-icons md-48">https</span>change password</li>
                    <li class="dropdown-item" [routerLink]="['/forgot-password']"><span
                            class="material-icons md-48">email</span>change email address
                    </li>
                    <li class="dropdown-item" (click)="auth.logout()"><span class="material-icons md-48">exit_to_app
                        </span>logout</li>


                </div>
                </li>
            </div>

            <ng-template #loggedOut>

                <div class=" p-2 item-hl" style="margin-top: 40px;">
                    <button type=" button" [routerLink]="['/login']" class="btn btn-outline-light mr-4">login</button>
                    <button type="button" [routerLink]="['/signup']" class="btn btn-outline-light mr-4">sign
                        up</button>

                </div>
            </ng-template>

        </div>
</div>


<div class="row mt-2">
    <div class="mx-auto ">
        <div class="findbox">
            <img src="../../../assets/cv box.png" alt="" style="width: 320px; ">
        </div>
    </div>
</div>


<div class="row">


    <div class="container-wrapper container d-flex justify-content-center align-items-center">
        <div class="form-wrapper text-center bg-white ">
            <h3>Reset Password</h3>

            <p class="text-center">Please enter your email address to request a password reset.</p>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset Password"
                    (click)="auth.ForgotPassword(passwordResetEmail.value)">
            </div>

            <div class="redirectToLogin">
                <span>Go back to ? <span class="redirect" routerLink="/login">Log In</span></span>
            </div>
        </div>

    </div>
</div>

</header>

</div>