<div class="" style="overflow-x: hidden">
  <header id="home-section" class="text-white text-center">
    <div class="container">
      <div class="d-flex row-hl">
        <div class="mr-auto p-2 item-hl">
          <a
            class="navbar-brand"
            [routerLink]="['/home']"
            style="color: #fff; margin-top: 40px; font-size: x-large"
            >HOME</a
          >
        </div>

        <div style="margin-top: 40px" *ngIf="currentUser; else loggedOut">
          <li ngbDropdown class="d-inline-block">
            <a
              class="nav-link dropdown-toggle"
              id="dropdownMenuButton"
              ngbDropdownToggle
            >
              <img
                [src]="profilPoto | safe"
                width="50"
                height="50"
                class="profileImg rounded-circle"
              />
            </a>
            <div
              class="dropdown-menu"
              ngbDropdownMenu
              aria-labelledby="dropdownMenuButton"
            >
              <li class="dropdown-item" [routerLink]="['/profile']">
                <span class="material-icons md-48">account_circle</span>my
                profile
              </li>

              <li class="dropdown-item" [routerLink]="['/forgot-password']">
                <span class="material-icons md-48">https</span>change password
              </li>
              <li class="dropdown-item" [routerLink]="['/forgot-password']">
                <span class="material-icons md-48">email</span>change email
                address
              </li>
              <li class="dropdown-item" (click)="auth.logout()">
                <span class="material-icons md-48">exit_to_app </span>logout
              </li>
            </div>
          </li>
        </div>
        <!-- <div class=" p-2 item-hl" style="margin-top: 40px;" *ngIf="currentUser else loggedOut">
                    <button type="button" [routerLink]="['/profile']" class="btn btn-outline-light">profile</button>
                </div> -->
        <ng-template #loggedOut>
          <div class="p-2 item-hl" style="margin-top: 40px">
            <button
              type=" button"
              [routerLink]="['/login']"
              class="btn btn-outline-light mr-4"
            >
              login
            </button>
            <button
              type="button"
              [routerLink]="['/signup']"
              class="btn btn-outline-light mr-4"
            >
              sign up
            </button>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row mt-5">
      <div class="mx-auto">
        <div class="">
          <!-- <span>s </span> <span>find CV</span> -->
          <button
            class="button"
            style="vertical-align: middle"
            (click)="openDialog()"
          >
            <span>Find CV <i class="material-icons">search</i> </span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="mx-auto my-auto mb-5">
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
      </div>

      <div class="row list">
        <ng-template [ngIf]="category">
          <ng-container *ngFor="let categorie of cv.categories | async">
            <div class="col-md-4 col-6">
              <div
                class="card card-block mb-3 align-items-center"
                [routerLink]="['/department/', categorie.id]"
              >
                <img [src]="categorie.image" />
                <h4 class="card-title mt-3 mb-3">{{ categorie.id }}</h4>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </section>
  <ng-adsense
    [adClient]="'ca-pub-8204466100756768'"
    [pageLevelAds]="true"
  ></ng-adsense>
</div>

<div class="back" style="width: 100%; height: 100%"></div>
