@import "~bootstrap/dist/css/bootstrap.css";

body {
  color: rgb(30, 48, 59);
}

.container-wrapper {
  height: calc(100vh - 80px) !important;
}

.back {
  position: fixed;
  left: 0px;
  top: 0px;

  z-index: -1;

  background-color: #e4e5f0;
}
#home-section {
  position: relative;
  max-width: 100%;
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  padding-bottom: 8rem;
}
h2 {
  color: rgb(30, 48, 59);
  margin-bottom: 1em;
}

.form-wrapper {
  min-width: 40%;
  margin-bottom: 15%;
  border: 2px solid #efefef;
  padding: 1em 2em;
}

.first-name {
  margin-right: 0.5em;
}

.last-name {
  margin-left: 0.5em;
}

form button {
  width: 100%;
}
form button.btn {
  border-radius: 0;
}
form button.btn:focus {
  box-shadow: none;
}

#home-section {
  position: relative;
  max-width: 100%;
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 220;
  padding-bottom: 8rem;
}

.findbox img {
  display: inline-block;
  width: 300px;
  height: 120px;
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
  .findbox img {
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 100px;
  }
  .form-wrapper {
    min-width: 40%;
    margin-bottom: 40%;
    border: 2px solid #efefef;
    padding: 1em 2em;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "../styles/variabales.scss";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.alert-wrapper {
  position: relative;
  z-index: 5;
}
.alert-wrapper .alert {
  position: absolute;
  top: 80px;
  width: 100%;
}
.profileImg {
  width: 60px;
  height: 60px;
}
/* FontAwesome for working BootSnippet :> */
#team {
  background: #eee !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
}
section {
  padding: 60px 0;
}
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#team .card {
  border: none;
  background: #fff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
}
.frontside,
.frontside .card,
.backside .card {
  min-height: 340px;
  max-height: 360px;
  width: 250px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: x-large;
}
.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}
.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: rgb(74, 20, 140) !important;
}
img {
  height: 120px;
  width: 120px;
}
div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 0 5px;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 50px;
}
.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}
@media only screen and (max-width: 600px) {
  .frontside,
  .frontside .card,
  .backside .card {
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    min-height: 250px;
    border-radius: 10px;
    font-size: x-large;
  }
  .card-text {
    height: 30px;
    font-size: inherit;
  }
  .card-title {
    font-size: x-large;
  }
}
